html,body{
    height: 100%;
    background: url(./dist/crystal.png);
    margin: 0;
    padding: 0;
}
.mainPage{
    padding-top:30vh;
    
    text-align: center;
    color:white;  

}
.content{
    z-index: 999;
    position: relative;
}
h1{
    text-align: center;
    color:white;
    font-size: 5vw;
    margin:0;
    font-family: 'artname';
}
@keyframes fadeIn {
    from{
        width:0;
    }
    to{
        width:50%
    }
}
hr{
    width:50%;
    animation: fadeIn 3s;
    height:0.5px;
    background-color: white;
}
.bio{
    display: block;
    text-align: center;
    color:white;
    font-size: 2vw;
}
button{
    margin:10px;
    background: none;
    border:1px solid white;
    padding:10px 20px;
    color:white;
}
button:hover{
    background: white;
    color:grey;
}
#bg{
    position: absolute;
    top:0;
    left:0;
    width:100%;
    z-index: 0;
}